name: API Tests

on:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      BASE_URL: 'http://localhost:3000'
  
    steps:
      - name: Checkout do repositorio
        uses: actions/checkout@v4
    
      - name: Instalar dependencias
        run: npm install

      - name: Rodar os testes de API via Controller
        run: npx mocha test/controller/**/*.test.js --reporter mochawesome --reporter-options reportDir=test/mochawesome-report,reportFilename=index

      - name: Verificar conteúdo do relatório
        run: ls -R mochawesome-report || echo "Relatório não encontrado"
      
      - name: Upload do relatório Mochawesome
        uses: actions/upload-artifact@v4
        with:
          name: mochawesome-report
          path: mochawesome-report/
